<nav class="container">
    <img src="assets/images/dictionary-logo.svg" alt="">

    <div class="config">
        <div class="change-font" (click)="toggleFont($event)">
            <span class="current-font">Serif</span>
            <i class="fi fi-ts-angle-small-down arrow-down"></i>
            <div *ngIf="isFontOpen" @slideUpDown class="font-list fl">
                <span class="serif-font fl">Serif</span>
                <span class="sans-seriffont fl">Sans Serif</span>
                <span class="mono-font fl">Mono</span>
            </div>
        </div>
        <div class="v-separator"></div>
        <div class="switch-theme">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <i class="fi fi-ts-moon moon-icon"></i>
        </div>
    </div>
</nav>
