<nav class="container">
    <img src="assets/images/dictionary-logo.svg" alt="">

    <div class="config">
        <div class="change-font" (click)="toggleFont($event)">
            <span class="current-font" [@fadeInOut]="fadeInOutState">{{selectedFont}}</span>
            <i class="fi fi-ss-angle-small-down arrow-down"></i>
            <div *ngIf="isFontOpen" @slideUpDown class="font-list fl">
                <span [ngClass]="{'selected' : selectedFont === 'Serif'}" (click)="changeFont('Serif')" class="serif-font fl">Serif</span>
                <span [ngClass]="{'selected' : selectedFont === 'Sans-Serif'}" (click)="changeFont('Sans-Serif')"  class="sans-serif-font fl">Sans Serif</span>
                <span [ngClass]="{'selected' : selectedFont === 'Mono'}" (click)="changeFont('Mono')" class="mono-font fl">Mono</span>
            </div>
        </div>
        <div class="v-separator"></div>
        <div class="switch-theme">
            <label class="switch">
                <input type="checkbox" (change)="toggleTheme()">
                <span class="slider"></span>
            </label>
            <i class="fi fi-rs-moon moon-icon"></i>
        </div>
    </div>
</nav>
