*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: calc(900px);
    width: calc(100% - 50px);
    margin: 0 auto;
    padding-bottom: 3em;
    position: relative;
}

.Sans-Serif{
    font-family: "Inter", sans-serif;
    }

.Serif{
    font-family: "Lora", serif;
    }

.Mono{
    font-family: "Inconsolata", monospace;
    }

.dark-theme{
    --bg-color: #050505;
    --text-color: #f1f1f1;
    --highlight-text-color: #757575;
    --line-color: #3a3a3a;
    --purple: #a445ed;
    --moon: #a445ed;
    --search-bg: hsl(0deg, 0%, 12%);
    --gray: #757575;
    --secondary-bg-color: #191919;
    --card-color: hsl(0deg, 0%, 12%);
    --scroll-bg: hsl(0deg, 0%, 12%);
    }

.light-theme{
    --bg-color: #fff;
    --text-color: #191919;
    --highlight-text-color: #757575;
    --line-color: #e9e9e9;
    --purple: #a445ed;
    --moon: gray;
    --search-bg: hsl(0deg, 0%, 96%);
    --gray: #757575;
    --secondary-bg-color: #fff;
    --card-color: white;
    --scroll-bg: #e0e0e0;
    }

.fi{
    display: flex;
}